.idea/

.fake
.ionide

backend/**/bin/
backend/**/obj/
backend/src/GrepWithExtraSteps/wwwroot/js/
backend/src/GrepWithExtraSteps/wwwroot/lib/
backend/**DotSettings.user

frontend/elm-stuff/
frontend/node_modules/

frontend/package-lock.json
